{% extends 'books_api/main.html' %}
{% block body %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Book details
        </div>
        <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">
                {% with authors=book.get_authors_names %}
                    Authors: {{ authors|join:", " }}
                {% endwith %}
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>
{% endblock body %}