{% extends 'books_api/main.html' %}
{% block body %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Edit
        </div>
        <div class="card-body">
            <h5 class="card-title">Edit book object</h5>
            <form method="POST">
                {% csrf_token %}
                {% for field in form_b %}
                <div class="form-group">
                    {{field.errors}}
                    {{field.label_tag}} {{field}}
                </div>
                {% endfor %}
                <div class="form-select">
                    {{form_a}}
                </div>
                <div class="form-group">
                    <label for="authorInput" class="form-label">Input custom authors:</label>
                    <input type="text" class="form-control" id="authorInput" aria-describedby="authorInputHelp"
                           name="authorInput">
                    <small id="authorInputHelp" class="form-text text-muted">Input author names after comas</small>
                </div>
                {% for field in form_d %}
                <div class="form-group">
                    {{field.errors}}
                    {{field.label_tag}} {{field}}
                    {% endfor %}
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Create Book</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}