{% extends 'books_api/main.html' %}
{% block body %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Edit
        </div>
        <div class="card-body">
            <h5 class="card-title">Edit book object</h5>
            <form method="POST">
                {% csrf_token %}
                {% for field in form_b %}
                <div class="form-group">
                    {{field.errors}}
                    {{field.label_tag}} {{field}}
                </div>
                {% endfor %}
                {{form_a}}
                <div class="form-group">
                    <input type="text" class="form-group">
                </div>
                {% for field in form_d %}
                <div class="form-group">
                    {{field.errors}}
                    {{field.label_tag}} {{field}}
                    {% endfor %}
                </div>
                <button type="submit">KLIKNIJ TUTAJ</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}